<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Todo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <header>
            <h1>Add New Todo</h1>
        </header>
        <main>
            <section class="add-todo">
                <form action="{{ url_for('add') }}" method="post" enctype="multipart/form-data" class="form-container">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="time">Date and Time</label>
                        <input type="datetime-local" name="time" id="time" required>
                    </div>
                    <div class="form-group">
                        <label for="images">Images</label>
                        <input type="file" name="images" id="images" multiple {% if not user_has_pro_role %} disabled {% endif %}>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Todo</button>
                </form>
            </section>
        </main>
    </div>
</body>

</html>