<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <header>
            <h1>Todo List</h1>
            <a href="{{ url_for('logout') }}" class="btn btn-danger logout-btn">Logout</a>
        </header>
        <main>
            <section class="todo-list">
                <div class="todo-list-header">
                    <h2>Your Tasks</h2>
                    <a href="{{ url_for('add_task') }}" class="btn btn-primary">Add New Todo</a>
                </div>
                <ul>
                    {% for todo in todos %}
                    <li class="todo-item {% if todo.done %} completed {% endif %}">
                        <div class="todo-content">
                            <form action="{{ url_for('check', id=todo.id) }}" method="post" class="todo-checkbox-form">
                                <input type="checkbox" {% if todo.done %} checked {% endif %} onchange="this.form.submit()">
                            </form>
                            <div class="todo-details">
                                <h3>{{ todo.title }}</h3>
                                <p>{{ todo.description }}</p>
                                <time datetime="{{ todo.time.isoformat() }}">{{ todo.time.strftime('%Y-%m-%d %H:%M') }}</time> {% if todo.images %}
                                <div class="todo-images">
                                    <img src="data:image/jpeg;base64,{{ todo.images }}" alt="Todo Image">
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="todo-actions">
                            <a href="{{ url_for('edit', id=todo.id) }}" class="btn btn-secondary">Edit</a>
                            <a href="{{ url_for('delete', id=todo.id) }}" class="btn btn-danger">Delete</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </main>
    </div>
</body>

</html>